input {
	kafka {
		jaas_path => "/etc/logstash/{{ inventory_hostname }}/jaas/jaas.conf"
		topics => ["etd-conductor"]
		client_id => "conductor-test"
		auto_offset_reset => "earliest"
		decorate_events => "true"
		auto_commit_interval_ms => "200"
		enable_auto_commit => true
		sasl_kerberos_service_name => "{{kafka_unit_service_name}}"
		codec => json
		security_protocol => "SASL_PLAINTEXT"
		bootstrap_servers => {{ kafka_test_broker_servers }}
		group_id => 'elk-conductor'
		heartbeat_interval_ms => "1000"
		poll_timeout_ms => "10000"
		session_timeout_ms => "120000"
		request_timeout_ms => "130000"
		partition_assignment_strategy => "org.apache.kafka.clients.consumer.RoundRobinAssignor"
		consumer_threads => 1
	}
}
